[submodule "vendor/rinari"]
	path = vendor/rinari
	url = git://github.com/eschulte/rinari.git
[submodule "vendor/markdown-mode"]
	path = vendor/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "vendor/cheat"]
	path = vendor/cheat
	url = git://github.com/defunkt/cheat.el.git
[submodule "vendor/gist"]
	path = vendor/gist
	url = git://github.com/defunkt/gist.el.git
[submodule "vendor/textmate"]
	path = vendor/textmate
	url = git://github.com/defunkt/textmate.el.git
[submodule "vendor/yaml-mode"]
	path = vendor/yaml-mode
	url = git://github.com/yoshiki/yaml-mode.git
[submodule "vendor/open-file-in-github"]
	path = vendor/open-file-in-github
	url = git://gist.github.com/170861.git
[submodule "vendor/zencoding"]
	path = vendor/zencoding
	url = git://github.com/chrisdone/zencoding.git
